@font-face {
	font-family: 'brushking';
	src: url('assets/fonts/BrushKing.otf')format('opentype'); 
}
@font-face {
	font-family: 'Sofia Medium';
	src: url('assets/fonts/sofiapromedium.otf')format('opentype'); 
  font-weight: 500;
}
@font-face {
	font-family: 'Sofia Regular';
	src: url('assets/fonts/sofiaproregular.otf')format('opentype'); 
  font-weight: 400;
}
html, body{
  margin: 0;
  padding: 0;
}
body{
  // background-image: linear-gradient(to bottom, #6410c8 , #27145c);
  font-family: 'Sofia Regular';
  background: url('assets/images/bgold.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: #fff;
}


.btn-main{
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-image: radial-gradient(circle at center, #0fad2e 0%, #0c7c22 100%);
  border-radius: 8px;
  display: block;
  text-align: center;
  min-width: 100px;
  transition: all 0.5s ease;
  transform-origin: center;
  &:hover{
    transform: scale(1.06)translateY(-3px);
  }
}
.cardOuter{
  display: flex;
  margin: 0 -15px;
}
.cards{
  box-shadow :0px 4px 5px rgba(0,0,0,0.5);
  background-image: radial-gradient(circle at center, #0fad2e 0%, #0c7c22 100%);
  padding: 40px 30px;
  margin: 0 15px 20px;
  border-radius: 12px;
  text-align: left;
  position: relative;
  overflow: hidden;
  h3{
    margin: 0;
    position: relative;
    z-index: 3;
  }
  p{
    position: relative;
    z-index: 2;
  }

  .card_left{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
  }
  .card_center{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 0;
  }
  .card_right{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
  
}


.btnOuter{
  display: flex;
  .btn-main:nth-child(2){
    margin-left: 8px;
  }
}
.header{
  min-height: 120vh;
  background: url('assets/images/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0 15vw;
  .inner{
    width: 25vw;
  }
  .logo{
    width: 100%;
    max-width: 400px;
  }
  h2{
    font-size: 34px;
    font-weight: 600;
  }
  p{
    font-size: 18px;
  }
  .btn-main{
    font-size: 16px;
  }
  .socialIcons{
    display: flex;
    margin: 30px -8px 0;
    a{
      border-radius: 50%;
      background-image: radial-gradient(circle at center, #0c7c22 0%, #0fad2e 100%);
      height: 40px;
      width: 40px;
      min-height: 40px;
      min-width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 8px;
      transition: all 0.5s ease;
  transform-origin: center;
  &:hover{
    transform: scale(1.06)translateY(-3px);
  }
      img{
        width: 18px;
        height: auto;
      }
    }
  }
}


.meetcards{
  position: relative;
  padding: 0 25vw;
}


.bark1{
  position: absolute;
  width: 20vw;
  min-width: 200px;
  height: auto;
  right: 0;
  top: 85%;
}


.bark2{
  position: absolute;
  width: 30vw;
  min-width: 200px;
  height: auto;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


.bark3{
  position: absolute;
  width: 31vw;
  min-width: 200px;
  height: auto;
  left: 0;
  top: 40px;
  transform: translateY(-100%);
  z-index: 1;
}



.meet{
  text-align: center;
  width: 50vw;
  margin: auto;
  margin-top: -100px;
  h2{
    margin: 0;
    font-family: 'brushking';
    margin-bottom: 34px;
  }
  .info{
    p{
      margin: 0;
      padding: 0 50px;
    }
    margin-bottom: 50px;
  }
  .bush{
    width: 100%;
  }
}


.tokenomics{
  position: relative;
  text-align: center;
  width: 70vw;
  margin: auto;
  margin-top: 50px;
  h2{
    margin: 0;
    font-family: 'brushking';
    margin-bottom: 34px;
  }
}



.roadmap{
  margin: auto;
  margin-top: 70px;
  max-width: 900px;
 
  h2{
    margin: auto;
    text-align: center  ;
    font-family: 'brushking';
    margin-bottom: 30px;
  }
  .content{
    width: 100%;
    margin-top: 20px;
    background: url('assets/images/paw.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
    text-align: center;
    $firstcorner :208px;
    $firsttop :400px;
    $secondcorner :37px;
    $secondtop :560px;
    div{
      width: 110px;
      height: 50px;
    }
    .l2{
      position: absolute;
      top: $secondtop;
      left: $secondcorner;
    }
    .l1{
      position: absolute;
      top: $firsttop;
      left: $firstcorner;
    }
    .r2{
      position: absolute;
      top: $secondtop;
      right: $secondcorner;
    }
    .r1{
      position: absolute;
      top: $firsttop;
      right: $firstcorner;
    }
    .c{
      position: absolute;
      top: 330px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}


.bgfooter{
  width: 100%;
  margin-top: -200px;
  position: relative;
  margin-bottom: -10px;
}



@media screen and (max-height: 1200px) {
  .bgfooter{
    margin-top: -150px;
  }
}

@media screen and (max-width: 1200px) {
  .bgfooter{
    margin-top: -150px;
  }
}
@media screen and (max-width: 1100px) {
  .tokenomics{
    width: 80vw;
  }
  .meet{
    width: 60vw;
  }
  .meetcards{
    padding: 0 20vw;
  }
}

@media screen and (max-width: 1000px) {
  $firstcorner :122px;
  $firsttop :265px;
  $secondcorner :8px !global;
  $secondtop :370px !global;
  .roadmap{
    max-width: 600px;
    .content{
      div{
        font-size: 14px;
      }
      .c{
        top: 212px;
      }
      .l2{
        top: $secondtop;
        left: $secondcorner;
      }
      .l1{
        top: $firsttop;
        left: $firstcorner;
      }
      .r2{
        top: $secondtop;
        right: $secondcorner;
      }
      .r1{
        top: $firsttop;
        right: $firstcorner;
      }
    }
    .bark3{
      top: 22%;
    }
  }

  .header{
    padding-top: 50px;
    .inner{
      width: 40vw;
    }
    .logo{
      max-width: 250px;
    }
  }
}


@media screen and (max-width: 850px) {
  .cardOuter{
    flex-direction: column;
  }
  .meet{
    width: 80vw;
  }
  .meetcards{
    padding: 0 10vw;
  }
  // .bark3{
  //   top: 18%;
  //   width: 24vw;
  // }
  .bark2{
    top: 100%;
  }
}
@media screen and (max-width: 768px) {
  .header{
    padding-top: 50px;
    background-position: right bottom;
    .inner{
      width: 100%;
    }
    .logo{
      max-width: 250px; 
      margin: auto;
      display: block;
    }
  }
  $firstcorner :112px;
  $firsttop :250px;
  $secondcorner :8px ;
  $secondtop :345px ;
  .roadmap{
    padding: 0 20px;
    .content{
      div{
        font-size: 14px;
        width: 95px;
      }
      .c{
        top: 200px;
      }
      .l2{
        top: $secondtop;
        left: $secondcorner;
      }
      .l1{
        top: $firsttop;
        left: $firstcorner;
      }
      .r2{
        top: $secondtop;
        right: $secondcorner;
      }
      .r1{
        top: $firsttop;
        right: $firstcorner;
      }
    }
  }

  // .bark3{
  //   top: 20%;
  //   width: 24vw;
  // }
  
}





@media screen and (max-width: 600px) {
  .header{
    padding-top: 50px;
    .inner{
      width: 100%;
    }
    .logo{
      max-width: 250px; 
      margin: auto;
      display: block;
    }
  }
  // $firstcorner :112px;
  // $firsttop :250px;
  // $secondcorner :8px ;
  // $secondtop :345px ;
  // .roadmap{
  //   padding: 0 20px;
  //   .content{
  //     background: none;
  //     height: 100%;
  //     div{
  //       font-size: 12px;
  //       width: 95px;
  //     }

  //     .l2, .l1, .r2, .r1, .c{
  //       position: static;
  //       transform: none;
  //       background: #3e1385;
  //       height: 200px;
  //       width: 150px;
  //       margin: 24px auto;
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;
  //       border-radius: 50%;
  //     }
  //     .l2{
  //       top: $secondtop;
  //       left: $secondcorner;
  //     }
  //     .l1{
  //       top: $firsttop;
  //       left: $firstcorner;
  //     }
  //     .r2{
  //       top: $secondtop;
  //       right: $secondcorner;
  //     }
  //     .r1{
  //       top: $firsttop;
  //       right: $firstcorner;
  //     }
  //   }
    
  // }

  $firstcorner :88px;
  $firsttop :192px;
  $secondcorner :6px ;
  $secondtop :270px ;
  .roadmap{
    padding: 0 20px;
    .content{
      height: 400px;
      div{
        font-size: 11px;
        width: 75px;
      }
      .c{
        top: 150px;
      }
      .l2{
        top: $secondtop;
        left: $secondcorner;
      }
      .l1{
        top: $firsttop;
        left: $firstcorner;
      }
      .r2{
        top: $secondtop;
        right: $secondcorner;
      }
      .r1{
        top: $firsttop;
        right: $firstcorner;
      }
    }
  }

  .bgfooter{
    margin-top: -60px
  }
  .meetcards{
    margin-top: 95px;
  }
}





@media screen and (max-width: 480px) {
  .meet .info p{
    padding: 0 10px;
    font-size: 14px;
  }
  .meet h2, .tokenomics h2, .roadmap h2{
    font-size: 20px;
  }
  .header{
    height: 110vh;
    min-height: 810px;
  }
  .header h2{
    font-size: 22px;
  }
  .header p{
    font-size: 16px;
  }
  .header .btn-main{font-size: 14px;}


  $firstcorner :68px;
  $firsttop :148px;
  $secondcorner :5px ;
  $secondtop :206px ;
  .roadmap{
    padding: 0 20px;
    .content{
      height: 400px;
      div{
        font-size: 8.5px;
        width: 55px;
      }
      .c{
        top: 118px;
      }
      .l2{
        top: $secondtop;
        left: $secondcorner;
      }
      .l1{
        top: $firsttop;
        left: $firstcorner;
      }
      .r2{
        top: $secondtop;
        right: $secondcorner;
      }
      .r1{
        top: $firsttop;
        right: $firstcorner;
      }
    }
  }

  .bgfooter{
    margin-top: -118px
  }
}

